.name-pick_address {display:none;}
.name-delivery_address {display:none;}
#submit-form .form-group {display: none;}
#submit-form, #submit-form2 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    display: none;
    z-index: 9999;
    padding: 20px 20px 20px 20px;
    
}

#submit-form2 {
    display: none;
    height: 100%;
    overflow-y: scroll;
    height: 400px;
    margin-top: 40px;
    position: relative;
}

.book-submit {
    background-color: #5292c9;
    border-radius: 15px;
    color: #fff !important;
    font-family: 'BoschSans-Bold';
    padding: 10px 25px 10px 25px;
    line-height: 90%;
    font-size: 14px;
}

#book-service {
    display: none;
}

.ipHasAdminPanel #book-service {
    display: inline;
}

#submit-form p {
    font-family: 'BoschSans-Regular';
    font-size: 15px;
}
.btn-default {
    background: #019bd4;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 1em;
}

.btn-default:hover {
    box-shadow: 0 0 0 1px #019bd4 inset;
    background: #01516e;
    text-decoration: inherit;
}
#submit-form form {
    float:right;
}
#submit-form2 .fp-container {
    position:inherit;
}
#submit-form2 .fp-cal-container {
    position:inherit;
}
#overlay,#overlay2 {
    display: none;
    opacity:0.5;
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    background-color: rgb(0, 0, 0);
}

#submit-form2 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#full-div, #full-div2 {
    display: table;
    position: fixed;
    left:0;
    top:0;
    z-index: -9999;
    height: 100%;
    width: 100%;
}

#middle-div, #middle-div2 {
    display: table-cell;
    vertical-align: middle;
}