.cc-revoke, .cc-window {
	font-family:BoschSans-Regular;
    font-size:12px;
    font-weight:normal;
}
.cc-window a{
	transition:all 500ms ease-out;
}
.cc-message{
	padding-right:1em;
}
.cc-message a{
	color:#fff;
	text-decoration:underline;
}
.cc-message a:hover,
.cc-message a:active, 
.cc-message a:focus{
	color:rgba(255,255,255,0.7);
}
.cc-compliance a:hover{
	text-decoration:none;
}
.cc-btn{
	font-family:BoschSans-Regular;
	border-radius:0!important;
	text-transform:uppercase;
	border:2px solid #fff!important;
}