//
// LESS is the same as CSS + some additional nice features. If you don't know LESS, just write CSS as usual.
// This LESS file is automatically compiled into theme.css file.
//
// ImpressPages theme: Air
//
// Main theme's LESS file. Contains only imports of required components.
// Integrated with fluid and responsive grid system
//
// @package ImpressPages
//

@import "ipContent.less"; // import system ipContent.less file

@import "less/variables.less"; // configuration variables of the theme and overrides of ipContent/variables.less
@import "less/grid.less"; // grid system
@import "less/main.less"; // main style file for structure, global styles and overrides for content elements
@import "less/menu.less"; // styles for all menus in the theme
@import "less/widgets.less"; // styles for widgets (overrides)

// add your own CSS styles here

.sidenav nav ul ul {
	margin-left:2em;
}

.bosh-wrapp {
	max-width: 1180px;
}

.slider-button {
	color:#fff;
}

.wrapper {max-width:none;}

@media screen and (max-width: 999px) {
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	
	.bosh-wrapp {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 768px) {
	.wrapper {
		width: 750px;
	}
	.bosh-wrapp {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.wrapper {
		width: 970px;
	}
	
	.bosh-wrapp {
		width: 970px;
	}
}

@media screen and (min-width: 1200px){
	.wrapper {
		width:1170px;
	}
	.bosh-wrapp {
		width:1170px;
	}
}
	
@media screen and (min-width: 1700px){
	.wrapper {
		width:1600px;
	}
	.bosh-wrapp {
		width:1170px;
	}
}





