@media only screen and (min-width : 320px) {
    .col_6.cars-slider {
        width: 100% !important;
    }
    .col_6.car-right {
        width: 100% !important;
    }
    
    .value-wrap {
        width:80px;
        vertical-align: top;
    }
    .product-description table td {
        min-width: inherit;
    }
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .value-wrap {
        width:150px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .col_6.cars-slider {
        width: 50% !important;
    }
    .col_6.car-right {
        width: 50% !important;
    }
    #all-cars .car-image {
        width:20%;
    }
    #all-cars .car-info {
        max-width:80%;
    }
    .product-description table td {
        min-width: 150px;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
    .cars-slider {
        width:545px !important;
    } 
    
    .car-info {
        max-width:145px !important;
    }
    #all-cars .car-image {
        width:57%;
        height:auto;
    }
}

@media only screen and (min-width:1300px) {
    .car-info span:nth-child(even) {
        border-right: 1px solid #acd9ef;
    }

    .car-info span:last-child {
        border:none;
    }
    .car-item:nth-of-type(-n+3) {
        /*padding-top: 0 !important;*/
        border-top:0;
    }
}