#all-cars {
    overflow: hidden;
}

#all-cars img {
    width:100%;
    height:auto;
    margin: 0;
}

#all-cars .car-image {
    display: inline-block;
}

.car-image {
    vertical-align: top;
}

#all-cars .car-info {
    display: inline-block;
}

.car-info {
    padding-left: 15px;
}

.car-info span, .car-info h4 {
    display: block;
}

.car-info span {
    font-family: 'BoschSans-Regular';
    font-size: 12px;
    display: inline-block;
    padding-right: 8px;
}

.car-info a {
    text-decoration: none;
    color:#5192ca;
    font-family: 'BoschSans-Bold';
    font-size: 18px;
    line-height: 90%;
}

.car-info a:hover {
    color:#e2001a;
}

.ipWidget a:hover {
    text-decoration: none !important;
}

.car-info .car-price {
    font-family: 'BoschSans-Bold';
    font-size: 18px;
    border:none !important;
    line-height: 100%;
}

.car-item {
    padding:23px 0px 23px 23px !important;
    border-right:1px solid #d5ecf7;
    border-top:1px solid #d5ecf7;
    margin-bottom: 0!important;
}

.car-item:hover {
    background: #eaf5fb;
}

.car-name {
    font-size: 48px;
    font-family: 'BoschSans-Regular';
    font-weight: normal;
    margin-bottom: 35px;
    margin-top:0;
}

.car-right-price {
    font-size: 24px;
    font-family: 'BoschSans-Bold';
    display: block;
    border-bottom: 1px solid #d5ecf7;
    padding-bottom: 20px;
}

.cars-slider {
    padding-left: 0 !important;
    padding-right: 20px !important;
} 

.slick-slider img {
    width:100%;
    height:auto;
}

.slick-slider-pager {
    padding: 10px 35px 10px 35px;
    background-color: #d5ecf7;
}

.slick-slider-pager .slick-current {
    opacity: 0.5;
    filter:Alpha(opacity=50);
}

.info-wrap {
    border-bottom:1px solid #d5ecf7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.car-right {
    padding-left: 20px !important;
}

.car-right table {
    font-size: 14px;
    font-family: 'BoschSans-Regular';
}

.right-type {
    font-size: 14px;
    font-family: 'BoschSans-Regular';
    display: inline-block;
}

.car-right p { 
    font-size: 14px;
    font-family: 'BoschSans-Regular';
}
.right-value {
    font-family: 'BoschSans-Bold';
}
.type-wrap {
    display: inline-block;
    padding-right: 20px;
}
.value-wrap {
    display: inline-block;
}