@font-face {
    font-family: 'BoschSans-Bold';
    src: url('../fonts/BoschSansBold.eot');
    src: url('../fonts/BoschSansBold.eot') format('embedded-opentype'),
    url('../fonts/BoschSansBold.woff2') format('woff2'),
    url('../fonts/BoschSansBold.woff') format('woff'),
    url('../fonts/BoschSansBold.ttf') format('truetype'),
    url('../fonts/BoschSansBold.svg#BoschSansBold') format('svg');
}

@font-face {
    font-family: 'BoschSans-Regular';
    src: url('../fonts/BoschSansRegular.eot');
    src: url('../fonts/BoschSansRegular.eot') format('embedded-opentype'),
    url('../fonts/BoschSansRegular.woff2') format('woff2'),
    url('../fonts/BoschSansRegular.woff') format('woff'),
    url('../fonts/BoschSansRegular.ttf') format('truetype'),
    url('../fonts/BoschSansRegular.svg#BoschSansRegular') format('svg');
}

.cc-banner{
    display:none!important;
}

.fullscreen{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index:100;
    display:none;
}

.fullscreen video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}

.fullscreen .disable-video{
    padding:15px 20px;
    display: block;
    color: #fff;
    font-size: 17px;
    text-align: center;
    background: #b6b1a9;
    z-index:1;
    position: absolute;
    top:50px;
    left:50px;
}

.deals.container{
    padding:50px 15px 50px 25px;
}

.deals {
    width: 100% !important;
    font-size: 16px;
    font-family: 'BoschSans-Regular';
}

.deals > .row{
    display: flex;
    flex-flow:row wrap;
    align-content: flex-start;
    min-height: 100vh;
}

.deals .contacts{
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    min-height:auto;
    margin-bottom: 20px;
}

.deals .contacts-info{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:space-between;
    color:#fff;
    background: #b6b1a9;
    padding:15px;
}

.deals .contacts-info h3{
    font-size: 27px;
    margin:0 0 5px 0;
}

.deals .contacts-info ul{
    list-style:none;
    padding:0;
    margin:0;
}

.deals .contacts-info ul li{
    display:inline-block;
}

.deals .contacts-info .wrapper{
    padding-left:15px;
}

.deals .item{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom:20px;
}

.deals .item h2,
.deals .item h3,
.deals .item ul{
    padding:0;
    margin:0;
}

.deals .item img{
    max-width: 100%;
}

.deals .item h2{
    font-family: 'BoschSans-Bold';
    padding-bottom:10px;
}

.deals .item h3{
    padding-bottom:20px;
}

.deals .item .desc{
    display:flex;
    flex-flow:row nowrap;
    background: #f1f5f6;
    padding: 15px;
}

.deals .item ul{
    list-style-type:none;
}

.deals .item .info{
    display:flex;
    justify-content: space-between;
    padding-left:50px;
}

.deals .item .info span{
    font-weight:bold;
    padding-right:5px;
}


.deals .item .info .contacts{
    display:flex;
    align-items: flex-start;
}

.deals .item .info .contacts ul{
    padding-left:10px;
}

.deal{
    width:100%!important;
    font-size:16px;
    font-family: 'BoschSans-Regular';
    padding:50px 0;
}

.deal h1{
    font-size:48px;
    margin:0 0 35px 0;
    padding:0;
}

.deal img{
    max-width:100%;
}

.deal ul{
    padding-left: 17px;
}

.deal .zoom{
     width:35px;
     height:35px;
     position:absolute;
     bottom:20px;
     right:20px;
}

.deal .success p{
    font-size: 20px;
    text-align:center;
}

.deal .success .close_button{
    width:100%;
}

.deal .help-error{
    display:none!important;
}

.slick-lightbox-close{
    width:32px!important;
    height:32px!important;
    background: url('../assets/img/icon-close.png') no-repeat!important;
    top:100px!important;
    right:100px!important;
}

.slick-lightbox-close:before{
    display:none;
}

.deal .slider_main .slick-slide{
    position:relative;
}

.deal .slider_main a:focus{
    outline: none;
}

.deal .slider_thumb img{
    padding:10px;
}

.deal .price{
    font-size: 24px;
    font-family: 'BoschSans-Bold';
}

.deal .info{
    width:100%;
    border-top: 1px solid #d5ecf7;
    border-bottom: 1px solid #d5ecf7;
    margin:15px 0;
}

.deal .info tr:first-child td{
    padding-top:15px;
}

.deal .info tr:last-child td{
    padding-bottom:15px;
}


.deal .info tr td:first-child{
    width:30%;
}

.deal .info tr td:last-child{
    font-family: 'BoschSans-Bold';
}

.deal .contacts{
    display:flex;
}

.deal .contacts ul{
    list-style-type:none;
}

.deal .contacts span{
    display:block;
    font-family: 'BoschSans-Bold';
}

.deal .close_button{
    width: 100%;
    padding: 20px;
    display: block;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
    margin:20px 0;
    transition: all 500ms ease;
    background: #b6b1a9;
}

.deal .close_button:hover{
    text-decoration:none;
    background:#D0CBC3;
}

.deal .close_button:focus{
    text-decoration:none;
}

.deal .get_offer{
    background:#bb0a30;
}

.deal .get_offer:hover{
    background:#D5244A;
}

.deal .ipTableManagement tr td:first-child{
    padding-right:10px;
}

.deal .ipTableManagement tr td{
    padding:5px 0;
}

.deal .slick-prev,
.deal .slick-next,
.slick-lightbox .slick-prev,
.slick-lightbox .slick-next{
    width:35px;
    height:35px;
    z-index:99;
}

.deal .slick-prev:before,
.deal .slick-next:before{
    opacity:1;
}

.deal .slick-prev:before,
.deal .slick-next:before,
.slick-lightbox .slick-prev:before,
.slick-lightbox .slick-next:before{
    font-size:35px;
}

.deal .slick-prev{
    left:10px;
}

.deal .slick-next{
    right:10px;
}

.slick-slide{
    outline:none!important;
}

.deal-title{
    width:100%;
    font-family: 'BoschSans-Bold';
    color:#fff;
    font-size:22px;
    text-transform:uppercase;
    text-align:center;
    padding:10px 0;
    margin-bottom: 20px;
    background: #b6b1a9;
    display:block;
}

.deal-title.top{
    background:#bb0a30;
}

.deal-title:hover{
    color:#ffffff;
    text-decoration:none;
}

.deal .cars{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin:20px -15px 0 -15px;
}

.deal .cars h2,
.deal .cars h3,
.deal .cars ul{
    padding:0;
    margin:0;
}

.deal .cars h2{
    font-family: 'BoschSans-Bold';
    padding-bottom: 10px;
}

.deal .cars h3 {
     padding-bottom: 20px;
}

.deal .cars ul{
    list-style-type: none;
}

.deal .cars .item{
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.deal .cars .desc{
     display:flex;
     flex-flow:row nowrap;
     flex: 1;
     background: #f1f5f6;
     padding: 15px;
 }

.deal .cars .info{
    width:auto;
    display: flex;
    justify-content: space-between;
    border:0;
    margin:0;
    padding-left:50px;
}

.deal .cars .info span{
    font-weight:bold;
    padding-right:5px;
}

.deal .cars .contacts ul{
    padding-left: 10px;
}

.deal .contact-form{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#fff;
    z-index:99;
    display:none;
}

.deal .contact-form .row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

.deal .contact-form .close-form{
    position:absolute;
    top:50px;
    right:15px;
    width:32px;
    height:32px;
    background: url(../assets/img/icon-close-black.png) no-repeat;
}

.deal .contact-form .bg{
    height: 100%;
    background-position: center center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.deal .contact-form .form{
    padding:0 20px;
}

.deal .contact-form .form .btn{
    width: 100%;
    padding: 20px;
    display: block;
    color: #fff;
    background: #b6b1a9;
    font-family: 'BoschSans-Regular';
    font-size: 17px;
    border-radius: 5px;
    text-align: center;
    transition: all 500ms ease;
    border:0;
}

.deal .contact-form .form .btn:hover{
    background: #b3b3b3;
    box-shadow: none;
}

.deal .contact-form .form .type-submit{
    margin:0;
    line-height: 0;
}

.deal .contact-form .form .type-submit > label{
    display:none;
}
