@media screen and (min-width: 1199px) {
    .wrapper .block .block-text, .wrapper .landing .block-text {
        min-width: 290px;
    }
    .wrapper .landing.block2 .block-text img {
        margin-top:15px;
    }
}

@media screen and (max-width: 1199px){
	body{
		min-width: 300px;
		-webkit-text-size-adjust: none;		
	}
	/*HEADER*/
    .landing-top .landing-logo {
        display: block;
        margin-bottom: 20px;
    }
    .landing-top .landing-address, .landing-top .landing-tel, .landing-top .landing-email {
        padding-right: 15px;
        padding-left: 15px;
    }
	.topmenu{
		margin-left:0;
	}
	#ipBlock-audi {
		margin-right:2%;
	}
    
    .wrapper header .topmenu ul {
        padding-left: 15px;
    }
	
	/*CONTENT*/
	.wrapper .main.col_12 {
		
	}	
    .wrapper .main.col_12 #ipBlock-slider{
        padding-left: 0;
    }
    .wrapper .main.col_12 .menu {
          width: 33%;
    }
    .wrapper .main.col_12 .menu #ipBlock-BoschMenu img{
        width:100%;
        height:auto;
    }
    
    .wrapper .landing.block1 .block-text h1{margin-top:15px; line-height: 90%; font-size: 20px;}
    .wrapper .landing.block2 .block-text h1{ line-height: 100%; font-size: 20px; margin-top:0; margin-bottom: 10px; float:none !important;}
    .wrapper .landing.block3 .block-text h1{ line-height: 100%; font-size: 20px; }
    #ipBlock-landing3-text img {max-width: 80px; margin-top:0;}
    .landing block3 img {max-width: 80px;}
    .landing block2 img {max-width: 80px;}
    .wrapper .landing.block1 .block-text img {max-width: 80px;}
    .wrapper .landing.block2 .block-text img {max-width: 80px; margin-left: 20px;}
    .wrapper .landing.block2 .block-text {text-align: center;}
    .wrapper .main.col_12 .menu .menu-col1 {
        padding: 0;
        max-width:none;
        height:257px;
    }
    .wrapper footer .right .solution{
        margin-top: 5px;
    }
}
@media screen and (max-width: 999px){
	#ipBlock-bosch-logo-big {
	  width:123px;
	  margin: -21px 0 0 0;
	}
	.wrapper .landing-content .landing{
		height:760px;
	}
	.wrapper header #ipBlock-bosch-logo-big img {
	  width: 100%;
	  height: auto;
	}
    
    .wrapper .main.col_12 .menu .menu-col1 {
        height:auto;
    }
    
    .topmenu {
        display: inline;
    }
    .wrapper .clearfix.col_12 .left{
        float: none;
    }
    .wrapper header .topmenu {
      margin-top: 0;
      width: 100%;
      float:none;
      padding-top: 20px;
    }

    .wrapper header .topmenu .level1 a{
        padding: 5px 5px;
        font-size: 14px;
    }

    .wrapper .main.col_12 .menu {
          clear: both;
         width: 100%;
    }
    .wrapper .main.col_12 .menu .menu-col1 {
        top: 40px;
        max-width: 300px;
        margin: 0 auto;
        padding-top:40px;
        padding-bottom: 40px;
    }
    .wrapper .main.col_12 #ipBlock-slider{
        width: 100%;
    }
    .wrapper .main.col_12 .menu {
        float: none;
        margin:0 auto;
    }
	
	.wrapper .main.col_12 .value-holder .inner-holder {
	  /*padding: 1% 0 0 1%;*/
	}
    .wrapper .main.col_12 .value-holder .inner-holder .values h2{
            font-family:BoschSans-Bold;
            font-weight:inherit;
    }
    .wrapper .main.col_12 .value-holder .inner-holder a,.wrapper .main.col_12 .value-holder .inner-holder a:hover{
        background-position: 0 2px;
    }
    .wrapper .main.col_12 .info-blocks .info-block1, .wrapper .main.col_12 .info-blocks .info-block2, .wrapper .main.col_12 .info-blocks .info-block3 {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        float: none;
        margin-bottom: 15px;
    }
    
    .info-blocks .info-block3 {
        min-height: inherit;
    }
    .wrapper .main.col_12 .info-blocks .info-block3 .info-block-content a {
        display: block;
        width:104px;
        margin-bottom: 20px;
    }
    
    .wrapper .main.col_12 .info-blocks .info-block-content {
         padding: 4% 0 0 6%;
    }
    .wrapper .main.col_12 .info-blocks h2 {
      font-size: 24px;
    }
    .wrapper .main.col_12 .info-blocks h3 {
      font-size: 15px;
    }
    .wrapper .main.col_12 .info-blocks .info-block-content #ipBlock-block-text {
      padding-top: 10px;
    }
    .wrapper footer .left {
      padding: 8px 0 0 4%;
    }
    
    .wrapper .block .block-text, .wrapper .landing .block-text {
        min-width:inherit;
    }
}

@media screen and (max-width: 775px){
    .landing-top .landing-logo {
        text-align: center;
        margin-bottom: 20px;
    }
    .landing-top .landing-email, .landing-top .landing-tel, .landing-top .landing-address {
        display: block;
        padding: 0;
        text-align: center;
    }
	#ipBlock-bosch-logo-big {
	    width: 90px;
		margin: -11px 0 0 0;
	}
	.wrapper .landing-content .landing{
		height:720px;
	}
    .wrapper .landing .block-text h1{
        font-size:28px;
    }
    .wrapper .block .block-text h1{
        font-size:24px;
    }
    .wrapper .landing-content .ipWidget-Heading{
            margin-top:10px;
    }
    
    .wrapper header .topmenu ul {
        padding-left: 0;
    }
   .content {
        width:100% !important;
    }
    .sidenav.left {
        max-width: none;
        width:100% !important;
        padding-right: 0 !important;
    }
	.wrapper .clearfix.col_12 .left {
		float:right;
		width: 110px;
	}
    .topmenuToggle {
        display: inline-block;
        float:right;
    }
    .home-link {
        position: absolute;
        right:100px;
    }
    .currentPage{
        display: none;
        color:#ffffff;
    }
    .wrapper header .topmenu {
          background-color: #5292c9;
          border: 1px solid #747474;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: none;
          width: 250px;
          position:relative;
          float:right;
          z-index: 10;
    }
    .topmenu .level1 > li {
        width:100%;
        text-align: right;
    }

	.wrapper .main.col_12 .value-holder #ipBlock-BoschHolder img {
	  width: 100%;
	}
    .wrapper .main.col_12 .value-holder #ipBlock-Bosch-service{
        right: 6px;
        width: 61%;
    }	
    .wrapper .main.col_12 .value-holder .inner-holder .values .col1 {
      width: 70%;
    }
	.wrapper .main.col_12 #ipBlock-slider h1{
		font-size: 30px;
	}	
		
    .wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info{
        top:7px;
    }
    .wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-text {
      padding-top: 1%;
    }	
    .wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-btn {
      padding-top: 6%;
    }
    .wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-btn a {
        background-position: 0 6px;
    }
	.wrapper .main.col_12 .info-blocks{
		  float:left;
	}
    .wrapper .main.col_12 .info-blocks .info-block1, .wrapper .main.col_12 .info-blocks .info-block2, .wrapper .main.col_12 .info-blocks .info-block3 {
          float:none;
          margin:0 auto;
        margin-bottom: 15px;
    }
	.wrapper footer .left {
		padding-left:10px;
		width: 50%;
	}	
    .wrapper footer .left .ipBlock {
        padding:0;
    }
    .wrapper footer .left #ipBlock-pastas{	  
        clear: left;
    }
    .wrapper footer .left #ipBlock-facebook{	  
        padding: 0 0 0 5%;
    }
    .wrapper footer .left #ipBlock-adresas{	  
        padding-bottom:3px;
    }
    .wrapper footer .right .solution {
        clear:left;
    }
	.wrapper footer .right {
		width: 40%;
	}	
    .wrapper footer .right #ipBlock-copyright {
        padding: 8px 0 6px 0;
    }
		
}
@media screen and (max-width: 599px){ 
	.wrapper .landing-content .landing{
		height:640px;
	}
    .wrapper .landing .block-text h1{
        font-size:22px;
    }
    .wrapper .block .block-text h1{
        font-size:24px;
        text-align:right;
    }
    .wrapper .block {
        width: 100%;
    }
    .wrapper .block.block1 .block-text,.wrapper .block.block2 .block-text ,
    .wrapper .block.block3 .block-text ,.wrapper .block.block4 .block-text ,
    .wrapper .block.block5 .block-text ,.wrapper .block.block6 .block-text  {
      bottom: 0;
      right: 0;
      left:auto;
      top:auto;
      padding: 0% 5% 5% 0%;
    }
    .wrapper .landing-content .ipWidget{
        margin:0;
    }
	.wrapper .main.col_12 #ipBlock-slider h1,.wrapper .main.col_12 #ipBlock-Title h2{
		font-size: 20px;
	}	
    .wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info{
        top:0;
    }
    .wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info p{
        font-size: 13px;
    }	
    .wrapper .landing.block1 .block-text h1{margin-top:15px; line-height: 90%; font-size: 10px;}
    .wrapper .landing.block2 .block-text h1{ line-height: 100%; font-size: 10px; margin-top:0; margin-bottom: 10px;}
    .wrapper .landing.block3 .block-text h1{ line-height: 100%; font-size: 10px; }
    #ipBlock-landing3-text img {max-width: 50px;}
    .landing block3 img {max-width: 50px;}
    .landing block2 img {max-width: 50px;}
    .wrapper .landing.block1 .block-text img {max-width: 50px;}
    .wrapper .landing.block2 .block-text img {max-width: 50px;}
}

@media screen and (max-width: 479px){
	.wrapper .landing-content .landing{
		height:550px;
	}
    .wrapper .landing .block-text h1{
        font-size:18px;
    }
    .ipWidget img {
        float: none !important;
        margin-left: 0 !important;
        width:100%;
        height:auto;
    }
	.wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info {
	  width: 84%;
	}
	.wrapper footer .right #ipBlock-copyright {
	  width:auto;
	}
     .wrapper .main.col_12 .menu {
        width:100%;
    }
	.wrapper .main.col_12 .info-blocks .info-block1, .wrapper .main.col_12 .info-blocks .info-block2, .wrapper .main.col_12 .info-blocks .info-block3{
		  width:100%
	}
	.wrapper footer .left {
	  padding-left: 5px;
	  width: 50%;
	}
    .wrapper footer h5, .wrapper > footer p {
        font-size: 14px;
    }
    .wrapper .main.col_12 {
        padding-right:20px;
        padding-left:20px;
    }
	
}

@media screen and (max-width: 359px){
    
    
	.wrapper .landing-content .landing{
		height:400px;
	}
    
    .wrapper .landing .block-text h1{
        font-size:14px;
    }
    .wrapper .landing.block3 .block-text {

    }
	.wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-btn{
	  display:none;
	}
	.wrapper .main.col_12 .value-holder .inner-holder #ipBlock-HolderTitle h2{
		font-size:25px;
	}
	.wrapper footer .left #ipBlock-facebook {
	  padding: 15px 0 0 0;
	  clear: left;
	}
    
    .logo {
        max-width: 150px;
    }
    
    .logo img {
        width: 100%;
        height:auto;
    }
		
}

@media screen and (min-width:999px) {
    .wrapper .main.col_12 .info-blocks h3 {
        font-size: 13px;
    }
}

@media screen and (min-width:999px) and (max-width:1200px){

}

@media screen and (min-width:1200px) {
    .ipWidget-AsdSlider .bx-wrapper img {
        height:500px;
    }
    .wrapper .landing.block1 .block-text {
        left:10%;
    }
    .wrapper .landing.block3 .block-text {
        right:5%;
    }
    .wrapper .landing.block1 .block-text h1 {
        font-size:44px;
    }
    .wrapper .landing.block2 .block-text h1 {
        font-size:43px;
    }
    .wrapper .landing.block3 .block-text h1 {
        font-size:44px;
        margin-top:0;
    }
    .wrapper .landing.block2 .block-text img {
        max-width: 105px;
    }
    .wrapper .landing.block1 .block-text img {
        max-width: 130px;
    }
    .wrapper .landing.block3 .block-text img {
        max-width: 130px;
    }
    .wrapper .main.col_12 .info-blocks h3 {
        font-size: 16px;
    }
}

@media screen and (max-width:1200px) {
    .wrapper .main.col_12 .value-holder .inner-holder .values h2{ 
        font-size: 14px;
    }
    .wrapper .main.col_12 .value-holder .inner-holder a {
        padding-top: 8px;
    }
    .content {
        width:60%;
    }
}

@media screen and (min-width:1700px) {
    .wrapper .landing.block3 .block-text {
        right:20%;
    }
    .wrapper .landing.block1 .block-text {
        left:15%;
    }
    .wrapper .landing.block1 .block-text h1 {
        font-size:54px;
    }
    .wrapper .landing.block2 .block-text h1 {
        font-size:54px;
    }
    .wrapper .landing.block3 .block-text h1 {
        font-size:54px;
    }
    .wrapper .landing.block2 .block-text img {
        max-width: none;
    }
    .wrapper .landing.block1 .block-text img {
        max-width: none;
    }
    .wrapper .block .block-text, .wrapper .landing .block-text {
        min-width: 380px;
    }
}
