@font-face {
    font-family: 'BoschSans-Bold';
    src: url('../fonts/BoschSansBold.eot');
    src: url('../fonts/BoschSansBold.eot') format('embedded-opentype'),
         url('../fonts/BoschSansBold.woff2') format('woff2'),
         url('../fonts/BoschSansBold.woff') format('woff'),
         url('../fonts/BoschSansBold.ttf') format('truetype'),
         url('../fonts/BoschSansBold.svg#BoschSansBold') format('svg');
}

@font-face {
    font-family: 'BoschSans-Regular';
    src: url('../fonts/BoschSansRegular.eot');
    src: url('../fonts/BoschSansRegular.eot') format('embedded-opentype'),
         url('../fonts/BoschSansRegular.woff2') format('woff2'),
         url('../fonts/BoschSansRegular.woff') format('woff'),
         url('../fonts/BoschSansRegular.ttf') format('truetype'),
         url('../fonts/BoschSansRegular.svg#BoschSansRegular') format('svg');
}

body {
	background: url(../images/background.jpg) fixed 50% 0 no-repeat;
    height: 100%;
}
td, th {
    padding: 4px;
}
.ip .modal-backdrop.in, .modal-backdrop.in {
    z-index: -1;
}
.ipWidget h3 {
    font-weight: normal;
}
.wrapper{
	margin-top: 50px;
	padding:0;
	background-color:transparent;
}
.ipWidget-AsdSlider .bx-wrapper img {
    border-radius:5px;
}

.btn-default {
    text-shadow: none;
}
a:hover {
    text-decoration: none;
}
/*HEADER*/
.wrapper header{
	background-image:url(../images/header_bg.jpg);
	background-repeat: repeat-x;
	background-color:#ffffff;
	margin-bottom:0;
    padding-bottom:0;
    height:70px;
	border-bottom:0px;
}

.landing-top {
    margin-bottom: 35px;
}
.landing-top a {
    color: #000;
}
.landing-top .landing-logo {
    display: inline-block;
}
.landing-top .landing-address {
    padding-left: 85px;
    padding-right: 68px;
    display: inline-block;
}
.landing-top .landing-address span {
    padding-left: 30px;
    background: url('../images/top-address.png') no-repeat left center;
}
.landing-top .landing-tel {
    padding-right: 60px;
    display: inline-block;
}
.landing-top .landing-tel span {
    padding-left: 25px;
    background: url('../images/top-tel.png') no-repeat left center;
}
.landing-top .landing-email span {
    padding-left: 30px;
    background: url('../images/top-email.png') no-repeat left center;
}
.landing-top .landing-email {
    display: inline-block;
}
.landing-top span {
    font-family: 'BoschSans-Regular', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.header-wrapp {
    max-width:1200px;
    margin:0 auto;
}

#ipBlock-bosch{
	width:67px;
	float:right;
	margin: -10px 40px 0 0;
}
#ipBlock-audi{
	width:115px;
	float:right;
	margin: -10px 0 0 0;
}
#ipBlock-klasera{
	width:130px;
	float:right;
	margin: 10px 25px 0 0;
}
#ipBlock-bosch-logo-big{
	width:140px;
	float:left;
	margin: -38px 0 15px 0;
}
#ipBlock-bosch-logo-big img{
	width:140px;
	height:140px;
    position:relative;
    z-index: 9;
    margin: 0;
}
.logo {
	margin: -5px 0 0px 0;
}

.bosh-wrapp header {padding:0;}
.bosh-wrapp p {
    font-family: 'BoschSans-Regular';
    font-size:14px;
}
.home-link {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-left: 60px;
    background: url('../images/home-icon.png') no-repeat;
    background-size: contain;
    margin-top: 30px;
}
.home-link:hover {
    background: url('../images/home-icon-hover.png') no-repeat;
    background-size: contain;
}
.topmenu{
	margin-left: 20px;
    margin-top:20px;
}

.topmenu a {
    padding:0.5em 0.4em;
}
.topmenu .level1 > li {line-height:100%;}
.topmenu a, .wrapper .landing-content h1,.wrapper .slide-info h1,.wrapper .block .block-text h1{
	color:#ffffff;
	font-family:BoschSans-Bold;
    font-size:20px;
}

.topmenu a:hover {
	text-decoration:none;
	color:#94BFD3;
}

.topmenu .parent > a {
    padding-right: 0.4em;
}

.topmenu li:hover > ul {display:none;}
.topmenu .parent > a:after {content:'';}
.topmenu .crumb > a {color:#94BFD3;}
.topmenu .active > a {color:#94BFD3;}
.sidenav .title li {display:none;}
.sidenav .title .active {display:block; font-family:'BoschSans-Bold'; font-size:34px; margin-bottom:35px; }
.sidenav .title .crumb {display:block; font-family:'BoschSans-Bold'; font-size:34px; margin-bottom:20px; line-height: 100%;}
.sidenav .title .active a {color:#acd9ef; }
.sidenav .title .crumb a {color:#acd9ef;}
.title .level1 {padding:0;}
.sidenav nav {padding-left:20px;}
.sidenav nav a {font-size:18px; font-family:'BoschSans-Regular'; margin-bottom:15px; line-height: 100%;}
.sidenav nav a:hover {text-decoration: none; color:#e2001a;}
.sidenav .collapse {display: block;}
.main-wrapp {margin:10px 0 0 0;}
.header-wrapp .topmenu {margin-left:25px;}
.header-wrapp .topmenu a {font-size:22px;}
/*CONTENT*/
.ipWidget h1 {
    font-family:'BoschSans-Bold';
}

.wrapper .landing-content .landing{
    height:800px;
    position: relative;
}

.inside-wrapp {
    max-width: 1200px;
    margin:0 auto;
    overflow: hidden;
}
.sidenav{
    /*padding-right:60px;*/
}
.sidenav.left {max-width: 280px; width: 20%;}
.sidenav nav .active > a {color:#e2001a;}
.sidenav nav .crumb > a {color:#e2001a;}
.sidenav nav .level2 a {font-size:15px; font-family:'BoschSans-Regular'; margin-bottom: 15px;}
.sidenav nav .level2 {margin-left:30px;}
.sidenav nav .level2 li {
    padding-left: 15px;
    background: url('../images/inside-arrow.png') no-repeat left center;
}
.sidenav nav .level2 li:hover {
    background: url('../images/inside-arrow-hover.png') no-repeat left center;
}
.sidenav nav .level2 .active {background: url('../images/inside-arrow-hover.png') no-repeat left center !important;}
.sidenav nav .level2 .crumb.parent {
    background: none;
}
.sidenav nav .level2 .parent {
    background: none !important;
}
.sidenav nav .level2 .parent:hover {
    background: none;
}
.title .level1 {
    margin:0;
}
.news_list img {
    width:100%;
    height:auto;
}
.news_list .date {
    font-size: 14px;
}
.news_list .title {
    color: #000;
}
.ipWidget li {
    font-family: 'BoschSans-Regular';
    list-style: circle;
}
.ipWidget img {
    margin: 10px;
}

.content .ipWidget td {
    vertical-align: top;
}

.menu .ipWidget img {
    margin: 0;
}

.ipWidget p + ul, .ipWidget p + ol {
    margin-top: 5px;
}
.content{
	float:left;
    width: 70%;
}
.content p {
    font-family: 'BoschSans-Regular';
}

.content h3, .content h1, .content h2 {
    font-family:'BoschSans-Bold';
}
.wrapper .block{
	position:relative;
	width:50%;
	float:left;
	overflow:hidden;
    height:480px;
}

.slider-menu {margin-top:30px;}
.bosh-header-wrapp {
    padding:0 40px 0 40px;
}
.wrapper .block.block3,.wrapper .block.block5{
    clear:left;
}
.wrapper .block .block-text, .wrapper .landing .block-text{
    position: absolute;
    z-index: 1;
    max-width:500px;
    min-width: 200px;
}
.wrapper .block .block-text h1, .wrapper .block .block-text a{
    font-size:44px;
    font-family:BoschSans-Bold;
    color: #fff;
    line-height: 110%;
}
.wrapper .block.block1  p,.wrapper .block.block3  p, .wrapper .block.block5  p{
    text-align: right;
}
.wrapper .block.block1 .block-text{
    bottom:0;
    right:0;
    padding:0% 6% 5% 0%;
}
.wrapper .block.block2 .block-text{
    bottom:0;
    left:0;
    padding:0% 0% 5% 6%;
}
.wrapper .block.block3 .block-text{
    bottom:40%;
    right:0;
    padding:0% 6% 0% 0%;
}
.wrapper .block.block4 .block-text{
    bottom:40%;
    left:0;
    padding:0% 0% 0% 6%;
}
.wrapper .block.block5 .block-text{
    top:0;
    right:0;
    padding:5% 6% 0% 0%;
}
.wrapper .block.block6 .block-text{
    top:0;
    left:0;
    padding:5% 0% 0% 6%;
}

#ipBlock-landing3-text img {margin-top:0;}

.wrapper .block .ipWidget {
    margin:0;
}
.wrapper .block .ipWidget-Columns ._col {
    padding:0;
}
.wrapper .block.block1 .klasera-image,.wrapper .block.block3 .klasera-image,.wrapper .block.block5 .klasera-image{
    position: relative;

}
.wrapper .block.block2 .klasera-image,.wrapper .block.block4 .klasera-image,.wrapper .block.block6 .klasera-image{
    position: relative;
}


.wrapper .landing-content{
    float: left;
    width: 100%;
}

.wrapper .landing-content .landing{
    width:33%;
    float:left;
    overflow:hidden;
}

.wrapper .landing-content .landing.block1 .landing-image{
    position: relative;
    right:0%;
}
.wrapper .landing-content .landing.block2 .landing-image{
    position: relative;
    right: 9%;
}
.wrapper .landing-content .landing.block3 .landing-image{
    position: relative;
    right: 100px;
    max-height:100%;
}

.wrapper .landing.block2 .block-text{
    left:20%;
}
.wrapper .landing.block3 .block-text{
    right:10%;
}
.sidenav{
    background: #ffffff;
}
#ipBlock-landing3-text img {max-width: 220px;}
.wrapper .main.col_12{
    padding:38px 40px 0 40px;
    margin:0;
    background-color:#ffffff;
}
.main.inside.col_12 {
    padding-top:80px;
    padding-bottom:80px;
}
.wrapper .main.col_12 #ipBlock-Title h1, #ipBlock-Title h2{
    font-family:BoschSans-Regular;
    font-weight:inherit;
    font-size:32px;
}
.wrapper .main.col_12.transparent{
    padding:0;
    background-color:transparent;
}
.wrapper .main.col_12 #ipBlock-slider{
    width:66%;
    float:left;
    padding-right:1%;
}

.ipWidget-AsdSlider .bx-wrapper .bx-viewport {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
    border-radius:5px;
    border:none;
}
.wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info{
    position:absolute;
    top:20px;
    right:20px;
    width:50%;
}
.ipWidget-AsdSlider .bx-wrapper .bx-viewport {left:0;}
.wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-text{
    padding-top:7%;
}
.wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-btn{
    padding-top:13%;
    display:block;
}
.wrapper .main.col_12 #ipBlock-slider .bx-wrapper .slide-info .slide-btn a{
    background: url(../images/slide_btn.png) 0 9px no-repeat;
    background-size:100%;
    padding: 7% 14% 5% 14%;
    color:#ffffff;
    font-family:BoschSans-Bold;
    font-size:18px;
}
.wrapper .main.col_12 #ipBlock-slider .slide-info .slide-btn a:hover{
    background: url(../images/slide_btn_hover.png) 0 9px no-repeat;
    text-decoration:none;
    background-size:100%;
    color:#5292c9;
}
.wrapper .main.col_12 .menu{
    background: url('../images/right.png') no-repeat center center;
    background-size: cover;
    position:relative;
    float:left;
    border-radius: 10px;
    width: 33%;
    text-align: center;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu img{
    height:320px;
    width: 100%;
    margin-top: 0;
}
.wrapper .main.col_12 .menu .menu-col1{
    top:40px;
    overflow: hidden;
    height: 290px;
    padding: 30px 30px 0 30px;

}
/*.wrapper .main.col_12 .menu .menu-col2{
    position:absolute;
    bottom:0;
    width:70%;
}*/

.wrapper .main.col_12 .menu h3{
    padding-top:39px;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col11,.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col12,
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col13, .wrapper .main.col_12 .menu #ipBlock-BoschMenu_col32,.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col33,.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col34{
    padding-bottom:30px;
    display:inline-block;
    clear:left;
}
.main.col_12 .menu #ipBlock-BoschMenu_col21,
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col22,.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col23{
    display: inline-block;
    max-width: 90px;
    padding-bottom:4%;
}
.right-blocks-wrapp {
    display: inline-block;
    padding-left:9px;
    padding-bottom: 10px;
    text-align: center;
}
.right-blocks a {
    color:#fff;
    font-family: BoschSans-Bold;
}
.right-blocks a:hover {
    color:#acd9ef;
}
.right-blocks p {
    margin-top:10px;
    margin-bottom: 10px;
}
.engine-image {
    width:50px;
    height: 31px;
    background: url('../images/engine.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(1):hover .engine-image {
    background: url('../images/engine-hover.png') no-repeat;
}
.brakes-image {
    width:40px;
    height: 39px;
    background: url('../images/brakes.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(2):hover .brakes-image {
    background: url('../images/brakes-hover.png') no-repeat;
}
.glass-image {
    width:54px;
    height: 33px;
    background: url('../images/glass.png') no-repeat;
    margin: 0 auto;
    visibility: hidden;
}
.right-blocks-wrapp:nth-child(3):hover .battery-image {
    background: url('../images/battery-hover.png') no-repeat;
}
.check-image {
    width:54px;
    height: 33px;
    background: url('../images/check.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(4):hover .check-image {
    background: url('../images/check-hover.png') no-repeat;
}
.lights-image {
    width:43px;
    height: 33px;
    background: url('../images/lights.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(5):hover .lights-image {
    background: url('../images/lights-hover.png') no-repeat;
}
.tyres-image {
    width:39px;
    height: 40px;
    background: url('../images/tyres.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(6):hover .tyres-image {
    background: url('../images/tyres-hover.png') no-repeat;
}
.mechanics-image {
    width:40px;
    height: 39px;
    background: url('../images/mechanics.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(7):hover .mechanics-image {
    background: url('../images/mechanics-hover.png') no-repeat;
}
.electrics-image {
    width:40px;
    height: 37px;
    background: url('../images/electrics.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(8):hover .electrics-image {
    background: url('../images/electrics-hover.png') no-repeat;
}
.battery-image {
    width:44px;
    height: 31px;
    background: url('../images/battery.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(9):hover .battery-image {
    background: url('../images/battery-hover.png') no-repeat;
}
.conditioning-image {
    width:27px;
    height: 46px;
    background: url('../images/conditioning.png') no-repeat;
    margin: 0 auto;
}
.right-blocks-wrapp:nth-child(10):hover .conditioning-image {
    background: url('../images/conditioning-hover.png') no-repeat;
}

.menu-col1 .right-blocks-wrapp:nth-child(1) {
    padding-right: 8px;
}
.menu-col1 .right-blocks-wrapp:nth-child(2) {
    padding-right: 8px;
}
.menu-col1 .right-blocks-wrapp:nth-child(3) {
    padding-right: 8px;
}
.menu-col1 .right-blocks-wrapp:nth-child(4) {
    padding-right: 8px;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col31{
    display: inline-block;
}

.wrapper .main.col_12 .menu .menu-col1 a, .wrapper .main.col_12 .menu .menu-col2 a{
    font-family:BoschSans-Bold;
    font-size:13px;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col11 a{
    background: url(../images/engine.png) 10px 16px no-repeat;
    color:#ffffff;

}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col11 a:hover{
    background: url(../images/shape1_hover.png) 10px 16px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col12 a{
    background: url(../images/window.png) 6px 16px no-repeat;
    color:#ffffff;

}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col12 a:hover{
    background: url(../images/shape3_hover.png) 5px 16px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col13 a{
    background: url(../images/lights.png) 19px 14px no-repeat;
    color:#ffffff;

}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col13 a:hover{
    background: url(../images/shape5_hover.png) 19px 14px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col21 a{
    background: url(../images/brakes.png) 25px 10px no-repeat;
    color:#ffffff;

}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col21 a:hover{
    background: url(../images/shape2_hover.png) 25px 10px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col22 a{
    background: url(../images/check2.png) 12px 18px no-repeat;
    color:#ffffff;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col22 a:hover{
    background: url(../images/shape4_hover.png) 12px 18px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col23 a{
    background: url(../images/tyres.png) 25px 6px no-repeat;
    color:#ffffff;

}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col23 a:hover{
    background: url(../images/shape6_hover.png) 25px 6px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col31 a{
    background: url(../images/mehanics.png) 29px 2px no-repeat;
    color:#ffffff;

}
.wrapper .main.col_12 .menu #ipBlock-BoschMenu_col31 a:hover{
    background: url(../images/shape7_hover.png) 29px 2px no-repeat;
    text-decoration:none;
    color:#acd9ef;
}

.wrapper .main.col_12 .value-holder{
    position:relative;
    width:100%;
    background: url('../images/bosh_stand.png') no-repeat right bottom;
    min-height: 300px;
    background-size: cover;
}
.wrapper .main.col_12 .value-holder #ipBlock-Bosch-service{
    width: 30%;

}
.wrapper .main.col_12 .value-holder #ipBlock-BoschHolder img{
    width:100%;
    margin-left: 0;
}
.wrapper .main.col_12 .value-holder .inner-holder{
    padding: 3% 0 0 3%;
    width:90%;
}
.wrapper .main.col_12 .value-holder .inner-holder .values{
    padding-top:2%;
    overflow: hidden;
}
.wrapper .main.col_12 .value-holder .inner-holder .values .col1{
    float:left;
    width:40%;
}
.wrapper .main.col_12 .value-holder .inner-holder .values .col2{
    float:left;
}
.wrapper .main.col_12 .value-holder .inner-holder .values .ipBlock{
    padding-bottom:3%;
}
.wrapper .main.col_12 .value-holder .inner-holder #ipBlock-HolderTitle h2{
    font-family:BoschSans-Regular;
    font-size:32px;
    font-weight: inherit;
}
.wrapper .main.col_12 .value-holder .inner-holder .values h2{
    font-family:BoschSans-Bold;
    font-weight:inherit;
    font-size:24px;
}

.wrapper .main.col_12 .value-holder .inner-holder a{
    background: url(../images/check3.png) 0 8px no-repeat;
    color:#5292c9;
    padding-left:30px;
    font-family: 'BoschSans-Regular';
    font-weight: normal;
}
.wrapper .main.col_12 .value-holder .inner-holder a:hover{
    background: url(../images/check_hover.png) 0 8px no-repeat;
    text-decoration:none;
    color:#e2001a;
}
.wrapper .main.col_12 .info-blocks{
    width:100%;
    overflow: hidden;
}
.wrapper .main.col_12 .info-blocks h2{
    font-family:BoschSans-Regular;
    font-size:32px;
    font-weight: normal;
}
.wrapper .main.col_12 .info-blocks h3{
    font-family:BoschSans-Regular;
    font-size:16px;
    font-weight: normal;
}
.wrapper .main.col_12 .info-blocks .info-block1,.wrapper .main.col_12 .info-blocks .info-block2,.wrapper .main.col_12 .info-blocks .info-block3{
    position:relative;
    float:left;
    width:32.6666666%;
}

.info-blocks .info-block1 {
    margin-right:1%;
    background: url('../images/left.jpg') no-repeat right top;
    background-size: cover;
    min-height: 440px;
    border-radius:10px;
}

.info-blocks .info-block2 {
    margin-right:1%;
    background: url('../images/center.jpg') no-repeat right top;
    background-size: cover;
    min-height: 440px;
    border-radius:10px;
}
.info-blocks .info-block3 {
    background: url('../images/right.jpg') no-repeat right top;
    background-size: cover;
    min-height: 440px;
    border-radius:10px;
}
.wrapper .main.col_12 .info-blocks .info-block3 h2,.wrapper .main.col_12 .info-blocks .info-block3 h3{
    color:#ffffff;
}
.wrapper .main.col_12 .info-blocks .info-block-content{
    top:0px;
    padding:11% 11% 0 11%;
}
.wrapper .main.col_12 .info-blocks .info-block3 .info-block-content #ipBlock-block3-title{
    width:80%;
}
.wrapper .main.col_12 .info-blocks .info-block-content #ipBlock-block-text{
    padding-top:30px;
}
.wrapper .main.col_12 .info-blocks .info-block1 .info-block-content #ipBlock-block-text, .wrapper .main.col_12 .info-blocks .info-block2 .info-block-content #ipBlock-block-text{
    width:60%;
}
.wrapper .main.col_12 .info-blocks .info-block3 .info-block-content #ipBlock-block-button{
    padding-top:10%;
}
.wrapper .main.col_12 .info-blocks .info-block3 .info-block-content a{
    background-color: #e2001a;
    border-radius: 15px;
    background-size:100%;
    padding: 15px 48px 15px 48px;
    font-size: 18px;
    color:#ffffff;
    font-family:BoschSans-Bold;
}
.wrapper .main.col_12 .info-blocks .info-block3 .info-block-content a:hover{
    background-color:#fff;
    text-decoration:none;
    background-size:100%;
    color:#e2001a !important;
}
.wrapper .main.col_12 #ipBlock-footer-link{
    float:left;
    padding:0 0 10px 20px;
    clear: both;
}
.wrapper .main.col_12 #ipBlock-footer-link h4{
    font-family:BoschSans-Regular;
    margin-top:15px;
    margin-bottom: 46px;
}

.wrapper .main.col_12 #ipBlock-footer-link a{
    background: url(../images/arrow.png) 100% 50% no-repeat;
    padding-right:20px;
    color:#5292c9;
}
.wrapper .main.col_12 #ipBlock-footer-link a:hover{
    background: url(../images/arrow_hover.png) 100% 50% no-repeat;
    text-decoration:none;
    color:#e2001a;
}

.wrapper > footer{
	border-top:0;
	padding:0;
	margin:0;
	height:75px;
}
.wrapper footer h5,.wrapper > footer p{
    font-family:BoschSans-Regular;
    font-size:15px;
}
#ipBlock-copyright h5 {
    font-size:14px;
}
.solution p {
    font-size:14px !important;
}
.solution a {
    color:#000000;
}
.solution a:hover {
    text-decoration:none!important;
}
.wrapper footer .left #ipBlock-telefonas h5 {
    background: url(../images/telefonas.png) 0 2px no-repeat;
    padding-left: 18px;
    height: 30px;
}
.wrapper footer .col_12{
    margin: 20px 0 20px 0;
}
.wrapper footer .left{
    width:70%;
    height:50px;
    padding:8px 0 0 30px;
}
.wrapper footer .left .ipBlock{
    float:left;
    padding: 0 20px 0 0;
}

.wrapper footer.klasera-footer h5, .wrapper > footer.klasera-footer p {
    font-size: 14px;
}

.wrapper footer.klasera-footer .left .ipBlock {
    padding: 0 10px 0 0;
}

.wrapper footer .left #ipBlock-adresas h5{
    background: url(../images/marker.png) 0 2px no-repeat;
    padding-left:18px;
    height:30px;
}

.wrapper footer .left #ipBlock-adresas2 h5{
    background: url(../images/marker.png) 0 2px no-repeat;
    padding-left:18px;
    height:30px;
}

.wrapper footer .left #ipBlock-telefonas2 h5 {
    background: url(../images/telefonas.png) 0 2px no-repeat;
    padding-left: 18px;
    height: 30px;
}

.wrapper footer .left #ipBlock-pastas a{
    background: url(../images/email.png) 0 1px no-repeat;
    padding-left:20px;
    height:10px;
}
.wrapper footer .left #ipBlock-pastas a:hover{
    background: url(../images/email_hover.png) 0 6px no-repeat;
    text-decoration:none;
    color:#e2001a;
}
.wrapper footer .left #ipBlock-facebook{
    width:22px;
    height:22px;
    padding: 0;
}
.wrapper footer .left #ipBlock-facebook a{
    background: url(../images/fb_icon.png) 0 0 no-repeat;
    display:block;
    text-indent:-9999px;
    height:22px;
    position: relative;
    top: -5px;
    width:22px;
}
.wrapper footer .left #ipBlock-facebook a:hover{
    background: url(../images/fb_icon_hover.png);
    text-decoration:none;
}
.wrapper footer .right{
    width:30%;
    height:50px;
}
.wrapper footer .right #ipBlock-copyright{
    width:165px;
    float:left;
    padding: 11px 15px 0 0;
}
.wrapper footer .right .solution{
    float:left;
    padding: 0px 7px 10px 0px;
    margin-top: -8px;
}

.wrapper footer .right #ipBlock-CreativePartner{
    float:left;
}

.wrapper footer .right #ipBlock-CreativePartner a{
    background-image: url(../images/cpartner.png);
    background-repeat:no-repeat;
    display:block;
    text-indent:-9999px;
    width:120px;
    height:33px;
}
.wrapper footer .right #ipBlock-CreativePartner a:hover{
    background: url(../images/cpartner_hover.png);
    background-repeat:no-repeat;
    text-decoration:none;
}

.fb-icon {
    display: none;
    width: 21px;
    height: 21px;
    background: url(../images/fb_icon.png);
    float: left;
    margin-left: 10px;
}

.fb-icon:hover {
    background: url(../images/fb_icon_hover.png);
}

.creative-partner {
    display: inline-block;
    width: 108px;
    height: 33px;
    background: url(../images/cpartner.png);
}

.creative-partner:hover {
    background: url(../images/cpartner_hover.png);
}

.wrapper .landing .block-text{
    top:60px;
}
.wrapper .landing.block1 .block-text{
    text-align: right;
    top:60px;
    left:15%;
    position:absolute;
    width:auto;
}
.wrapper .landing.block2 .block-text{
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    text-align: center;
}

.wrapper .landing.block1 .block-text h1{ margin-top:15px; line-height: 90%; font-size: 54px;}
.wrapper .landing.block2 .block-text h1{ line-height: 100%; font-size: 54px; margin-top:0; margin-bottom: 10px;}
.wrapper .landing.block3 .block-text h1{ line-height: 100%; font-size: 54px; }
.wrapper .landing.block2 .block-text img {float:left;}

#ipBlock-landing3-text .ipWidget-Heading {margin-top:0; }

#ipBlock-landing3-text .ipWidget-Image {margin-bottom: 15px;}

.privacy-form #cboxLoadedContent{
    margin-bottom:0;
}

.privacy-form .privacy-agree{
    margin-top:1em;
    display:inline-block;
}

.privacy-form .privacy-agree:hover{
    color:#fff;
}

/* gdpr */

.cookie-agreement .container {
    max-width: 1330px;
    margin: 0 auto;
}

#cookie-overlay{
    z-index: 499;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: none;
    position: fixed;
    opacity: .5;
}

#cookie-overlay.cookie-agreement-open{
    display: block;
    opacity: .5;
}

#cookie-primary{
    max-width: 100%;
    width: 1000px;
    min-height: 185px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: -100%;
    z-index: 500;
    transition: all .4s ease-out;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0.015px 5px 0 rgba(0, 0, 0, 0.24);
    opacity: 0;
    justify-content: center;
    align-items: center;
    color: #777;
    text-align: center;
}

#cookie-primary a{
    color: #5292c9;
}

#cookie-primary.cookie-agreement-open{
    left: 50%;
    opacity: 1;
    transform: translate(-50%,-50%);
}

.cookie-agreement {
    width: 100%;
    min-height: 140px;
    position: fixed;
    bottom: 0;
    left: -100%;
    z-index: 500;
    transition: all .4s ease-out;
    background: #ffffff;
    padding: 20px 0 20px 0;
    color: #ffffff;
    box-shadow: 0 0.015px 5px 0 rgba(0,0,0,0.24);
    opacity: 0;
}
.cookie-agreement .container{
    padding: 0;
}
.cookie-agreement p {
    padding: 0;
}
.cookie-agreement.cookie-agreement-open {
    left: 0;
    opacity: 1;
}
.cookie-agreement.cookie-agreement-close {
    animation: slide-right 0.4s ease;
}
.cookie-agreement .cookie-agreement-holder {
    padding: 0 10px;
}

.cookie-agreement-holder label{
    display: block;
}

.cookie-agreement .row {
    margin-right: -5px;
    margin-left: -5px;
    display: flex;
}
.cookie-agreement .col-lg-10 {
    max-width: 83.333333%;
    width: 83.333333%;
}
.cookie-agreement .col-lg-4 {
    max-width: 30%;
}
.cookie-agreement .col-lg-2 {
    width: 16.666667%;
}
.cookie-agreement .agreement-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 33px;
}
.cookie-agreement .agreement-title {
    margin: 0 0 10px 0;
    font: 14px/21px 'Gilroy';
    width: 100%;
    color: #333;
    padding: 0;
}
.cookie-agreement .agreement-description {
    font: 12px 'Gilroy';
    margin: 0;
    color: #777;
}
.cookie-agreement .agreement-description a {
    font: 12px 'Gilroy';
    color: #5292c9 !important;
}
.cookie-agreement .toggleWrapper input[type="checkbox"]:not(:checked), .cookie-agreement .toggleWrapper input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.cookie-agreement .toggleWrapper input[type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 30px;
    margin: 0;
    cursor: pointer;
}
.cookie-agreement .toggleWrapper input[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 18px;
    height: 18px;
    transition: 0.3ms all;
    background: url("../assets/img/unchecked.svg") center center no-repeat;
}
.cookie-agreement .toggleWrapper input[type="checkbox"]:not(:checked) + label, .cookie-agreement .toggleWrapper input[type="checkbox"]:checked + label {
    padding-left: 30px;
    margin: 0;
    position: relative;
}
.cookie-agreement .toggleWrapper input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 20px;
    height: 21px;
    transition: 0.3ms all;
    background: url("../assets/img/checked.svg") center center no-repeat;
}
.cookie-agreement .cookies-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cookie-agreement .cookies-options-container {
    display: flex;
}
.cookie-agreement .cookies-btn-container {
    text-align: center;
}
.cookie-agreement .cookies-btn-container a {
    font-family: 'Gilroy';
    line-height: 150%;
    color: #fff;
    display: block;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.cookie-agreement #cookies-custom {
    font-size: 14px;
    border: 2px solid #333;
    box-sizing: border-box;
    color: #333;
}
#cookies-all-primary ,
.cookie-agreement #cookies-all {
    font-size: 16px;
    background: #5292c9;
    padding: 15px 10px;
    margin-bottom: 10px;
}
#cookies-all-primary {
    border-radius: 22px;
    padding: 10px 51px;
    color: #fff!important;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.05);
}
.cookie-floater {
    position: fixed;
    top: 100%;
    left: 0;
    width: 70px;
    height: 70px;
    border-top: 70px solid transparent;
    border-left: 70px solid #5292c9;
    border-bottom: 0 solid transparent;
    cursor: pointer;
    z-index: 400;
    margin: -70px 0 0 0;
}
.cookie-floater .cookie-floater-icon {
    position: absolute;
    left: -60px;
    top: -30px;
    font-size: 20px;
}
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}
@media (max-width: 1080px) {
    .cookie-agreement .col-lg-10 {
        max-width: 100%;
        width: 100%;
    }
    .cookie-agreement .cookies-btn-container {
        display: flex;
        max-width: unset !important;
    }
    .cookie-agreement .cookies-btn-container a {
        margin: 0;
        margin-right: 10px;
        margin-bottom: 0 !important;
    }
    .cookie-agreement .row {
        margin-right: 0;
        margin-left: 0;
        flex-direction: column;
    }
    .cookie-agreement .col-lg-4 {
        max-width: 100%;
    }
    .cookie-agreement .col-lg-2 {
        max-width: 100%;
        width: 100%;
    }
    .cookie-agreement .agreement-description {
        margin: 0 0 15px;
    }
    .cookie-agreement {
        padding: 10px 0 10px;
    }
    .cookie-agreement .col-lg-2 {
        max-width: 100%;
    }
    .cookie-agreement .agreement-header {
        min-height: auto;
    }
    .cookie-agreement .agreement-title {
        margin: 0 0 5px;
        font-size: 12px;
        line-height: 1.3;
    }
    .cookie-agreement .agreement-description {
        margin: 0 0 5px;
    }
    .cookie-agreement #cookies-custom {
        padding: 5px;
        font-size: 12px;
    }
    .cookie-agreement #cookies-all {
        padding: 5px;
        font-size: 12px;
    }
    .cookie-agreement .col-lg-4, .cookie-agreement .col-lg-2 {
        padding: 0 0 10px;
    }
}


.row-cols {
    width: 100%;
    float: left;
}

.row-cols .col-address {
    width: 25%;
    display: block;
    float: left;
}

.row-cols .col-phone{
    width: 34%;
    display: block;
    float: left;
}

.row-cols .col-email{
    width: 22%;
    display: block;
    float: left;
}

.row-cols .col-policy{
    width: 17%;
    display: block;
    float: left;
}

.bosch-page .wrapper footer .left{
    width: 71%;
    padding: 8px 0 0 0;
}

.bosch-page .wrapper footer .right{
    width: 29%;
}

.bosch-page .wrapper footer .left .ipBlock {
    float: left;
    padding: 0 5px 0 0;
}

.bosch-page .row-cols .col-address{
    width: 26%;
}

.bosch-page .row-cols .col-phone{
    width: 36%;
}

.bosch-page .row-cols .col-email{
    width: 20%;
}

.bosch-page .row-cols .col-policy{
    width: 18%;
}

.bosch-page .wrapper footer .right #ipBlock-copyright {
    width: 155px;
    float: left;
    padding: 11px 10px 0 0;
}


@media screen and (max-width: 769px) {

    .cookie-agreement .container {
        max-width: 100%;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 16px;
    }

    .cookie-agreement .toggleWrapper input[type="checkbox"]:checked + label:before {
        left: 0px;
        top: -3px;
    }

    .cookie-agreement .toggleWrapper input[type="checkbox"]:not(:checked) + label:before {
        left: 0px;
        top: -3px;
    }

    .bosch-page .wrapper footer .left{
        width: 100% !important;
        padding: 8px 0 0 0;
        height: auto!important;
        overflow: hidden;
    }

    .bosch-page .wrapper footer .right{
        width: 100% !important;
        height: auto!important;
        overflow: hidden;
    }

    .wrapper footer .left {
        padding-left: 5px;
        width: 100% !important;
        height: auto!important;
        overflow: hidden;
    }

    .wrapper footer .right {
        padding-left: 5px;
        width: 100% !important;
        height: auto!important;
        overflow: hidden;
    }

    .wrapper footer .right .ipBlock{
        width: 100% !important;
        text-align: center;
    }

    .wrapper footer .right .solution{
        width: 100%;
        text-align: center;
    }

    .row-cols .col-address {
        width: 100% !important;
       }

    .row-cols .col-phone{
        width: 100% !important;
    }

    .row-cols .col-email{
        width: 100% !important;

    }

    .row-cols .col-policy{
        width: 100% !important;
        padding: 10px 0 20px 20px;
      }

    .row-cols .ipBlock {
        width: 100% !important;
    }


}

@media screen and (max-width: 599px) {
    .cookie-floater {
        display: none;
    }
}
