.ipWidget-AsdSlider .text-center {
    text-align: center;
}
.ipWidget-AsdSlider .hide {
    display: none;
}
.ipWidget-AsdSlider .empty-slider {
    padding: 30px;
    background-color: #F1F1F1;
}

.ipWidget-AsdSlider .ipsItem img,
.ipWidget-AsdSlider .ipsItem {
    width: 100%;
}

#ipWidgetAsdSliderControls {
    z-index: 1050;
}

.slider-text-wrapp {position:absolute; z-index:99999999999; max-width: 280px; float: right; right:40px; }
.slider-text-wrapp h1 {
    padding-right:35px;
}
.slider-text-wrapp p {
    padding-right:35px;
}
.banner img {position: absolute; max-width: 100%; height:100%;}
.banner {position:relative; }
.banner {width:66%; float:left; padding-right:1%; height:100%;}
.home-slider {margin-top:0; overflow: hidden;}
.banner img {border-radius:15px; width:100%; height:auto;}
#asdSlider {width:66%; float: left; padding-right: 1%;}
.asdSlider_image {/*position: absolute; */height:auto; width:100%; max-width: 100%; border-radius:5px;}
.slider-text-wrapp h1 {
    font-family: 'BoschSans-Regular';
    font-size:32px;
    color: #fff;
    margin-top:50px;
    line-height: 100%;
}
.slider-text-wrapp p {color:#fff;font-family: 'BoschSans-Regular'; font-size:16px;margin-bottom:30px;}
.slider-button {padding:15px 30px 15px 30px; font-size:18px; background-color:#5292c9; border-radius:15px; color:#fff !important; font-family: 'BoschSans-Bold'; }

.slider-button:hover {color:#5292c9 !important; background-color:#fff; text-decoration: none !important;}

.slider-back {
    width:44%;
    height:100%;
    position:absolute;
    background:#fff;
    z-index: 999999;
    background:  rgb(57, 91, 112);
    background:rgba(57, 91, 112, 0.7);
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}

@media only screen and (min-width : 320px) {
        .slider-text-wrapp{ float: inherit; right:0; left:40px; top:20px;}
        .slider-text-wrapp h1 {
            font-size:12px;
            margin-top:10px;
            margin-bottom: 10px;
        }
        .slider-text-wrapp p {font-size:12px; display: none;}
        #asdSlider { width:100%; margin-bottom: 10px;}
        .slider-text-wrapp .slider-button {padding:10px 10px 10px 10px; line-height: 90%; font-size:11px; display: block; width:98px; }
        .asdSlider_image { /*height:100%;*/ border-radius: 10px;}
        .slider-item {/*height:350px;*/}
        .slider-back {width:100%; border-radius: 10px;}
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .slider-text-wrapp{ float: inherit; right:0; left:40px; top:30px;}
        .asdSlider_image { /*height:350px;*/ position: relative;}
        .slider-item {/*height:350px;*/}
        .slider-text-wrapp h1 {
            font-size:18px;
        }
         .slider-text-wrapp .slider-button {padding:15px 14px 15px 14px; line-height: 90%; font-size:17px; display:inherit; width: 150px; }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .slider-text-wrapp{ float: left; padding-left:40px; left:0; top:0; padding-top: 10px; display: block; max-width: 300px; }
        .slider-back {width:60%; display: block; max-width: 340px; height:99%;}
        .slider-text-wrapp h1 {font-size: 15px;}
        .slider-text-wrapp p {font-size: 12px !important; display: block;}
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 999px) {
        .asdSlider_image { /*height:400px;*/}
        .slider-item {/*height:400px;*/}
        #asdSlider { width:66%; margin-bottom: 0;}
        .slider-button {padding:10px 25px 10px 25px; line-height: 90%; font-size:14px; }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .asdSlider_image { height:320px;}
        .slider-item {height:320px;}
        .slider-text-wrapp {max-width: 280px;}       
        .slider-text-wrapp h1 {
            font-size:24px;
        }
        .slider-back {width:44%; display: block; max-width: none; height:100%;}
        .slider-text-wrapp p {font-size:13px !important;}
    }